@page
@model BiographyModel
@{
    ViewData["Title"] = "Biography page";
}

    <div class="text-center">
        <h1 class="display-4">            
            <a href="~/portfolio/CV-Europass-20200601-Kljajić-EN-3.pdf">Biography - CV - Official</a>
        </h1>
        <h1 class="display-4">Biography - unofficial</h1>
        April 11.th 1981. was the day I came on this world. Few years later , '87, I meet with commodore 64, in that time it was machine from future used for playing games only.
        That were also time when I meet with and alphabet and my trying to read written in World of Computers. My surprise when I checked it's possible to write some code and that code works something useful,
        was like discovering most interesting thing in the world. Even for me...

        <br /> <br />
        My first program were written in BASIC on commodore 64 computer. After that first one, for sum of two numbers, I've continued with some 'complicated' programs,
        that my mathematical knowledge from elementary school could give me. Through my education in elementary school computer science, and especially computer hardware were advancing in such fast way that it was almost impossible to follow.
        <br /> <br />
        Then war started,  there were no electric energy those days and al I had is to read theory. I was reading 'Svet kompjutera' (World of computers) and some old books, and in fact these times were very important for me and my computer science education.
        After war is finished first thing I had on my minds was where and how to check my theory knowledge I've learned meanwhile. My first PC were Olivetti M24 . I've found out DOS basics, what are BAT files and almost every little thing that can be used in DOS.
        It was an old 8086 processor with 8 MhZ clock and 256 Kb of RAM.  I was completely ready for things coming next.

        <br /> <br />
        My next computer was so called 80486 PC. Windows just started to become popular, version 3. I was completely surprised and happy with new GUI.
        Windows also give us a lot of programs that make office work faster. First thing I've got about it was to learn how to use all Office applications. After I've done it and become able to make any document, or table or presentation in Office my old love, programming, become interesting again.

        Much more interesting then before , because there were graphical interface. Then I've found backoffice application packet. Visual studio and it's applications were exactly what I've looking for. This was in year 1998. Until october 1999. I've started learning how to make desktop applications using visual basic 5.0. Those were small apps that were working little things,
        <br /> <br />
        In october 1999. I started scholarship with NSU (National Support Unit). That was time I've started learning how to make websites and web applications. It was first time I found out how to use programs for web development, how to set IIS, how to install all of these apps, how to use it, and much more.
        From that moment I found out what is my future and what I want to work all of my life. It's clear  that with my knowledge in those times I become very interesting for companies that looking for sofware developer, and exactly after I've got my High school diploma I started to work in  Institute of protection, ecology and informatics.

        My job here was to make webpage and keep it working with updates. Also, we had to make completely information system of company, both hardware and software. After two years and after all job was finished I've got job proposal from Hydrometeorological service of Republic of Srpska to work there and make Information system for it.
        <br /> <br />
        After an year of working there I decided to study computer sciences. I've started with studying in 2003 at Natural sciences faculty of University of Banjaluka. After six years of studying I've apsolved it and only six exams I'm far away from diploma now. Knowledge I've got here become main base for any future projects, especially with projects that needs some
        'complicated' and 'hard' things. Most important thing for me, based on studying, is that I've learned how to learn things. I've learned how to become hard working for almost all day. It was an really useful experience for me and rest of my professional carrier.

        <br /> <br />
        In 2011. I've come back to hydrometeorological service and started to making information system based on completely new technologies and new hardware. Nine years from then I can say I think we, not only me, got success.

        Meanwhile I've become freelancer on Elance(known as Upwork these days). In 2013. I've got my first job and since then Elance-Upwork become my another office, beside my regular job.

        These last ten years of my life become very interesting and I've worked  on so much projects I couldn't ever imagine. I was making different desktop apps, frontend, backend, and so on.

        Also meanwhile on my regular job I've become member of IT team of World Meteorological Organization. There also were a lot of projects I was involved in as consultant or just developer. This was really nice period of my life, so nice I've started to feel very comfortable, almost I have not any challenges more. It become boring...
        <br /> <br />
        Then I decide to left hydrometeo service and found out new job. I was working in SimImpex as software developer last half year, but it's not software company so I'm looking for one where I can get chance for more advancing and learn new things and also implement my existing and new knowledge.



    </div>
