@page
@model ContactModel
@{
    ViewData["Title"] = "Contact page";
}

    <div class="text-center">
        <h1 class="display-4">Contact</h1>
         
            <a class="nav-link text-dark" href="https://www.facebook.com/slobodan.kljajic.81" target="_blank">
                <img src="~/lib/imgs/fblogo.png" style="width: 50px;height: 50px" />
            </a> 
            <a class="nav-link text-dark" href="https://www.linkedin.com/in/slobodan-kljajic-0a7b40176/" target="_blank">
                <img src="~/lib/imgs/linkedinlogo.png" style="width: 50px;height: 50px" />
            </a> 
            <a class="nav-link text-dark" href="mailto:slobodan-kljajic@blic.net" target="_blank">
                <img src="~/lib/imgs/email.png" style="width: 50px;height: 50px" />
            </a> 
            <a class="nav-link text-dark" href="https://github.com/skljajic" target="_blank">
                <img src="~/lib/imgs/githubLogo.png"  style="width: 50px;height: 50px"  />
            </a> 
            <a class="nav-link text-dark" href="https://www.upwork.com/freelancers/~01c359c3ae7967a87d" target="_blank">
                <img src="~/lib/imgs/upworklogo.png" style="width: 50px;height: 50px"  />
            </a>
     
    </div>
