@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome dear guests</h1>
    <img src="~/main.jpg" style="width: 45%;height: 45%"/> 
    <br/>
    I'm software developer for web applications(ASP.NET & CORE) and both windows(VS C#) & linux(Qt C++) desktop applications and Oracle APEX developer, also, I'm database admin (MSSQL & MySQL & Oracle).
    Last 2+ years I'm working as Oracle DBA and APEX developer mainly using PL/SQL & HTML & JavaScript & Java & CSS, on  <a href="https://izis.org">IZIS project of Integrated Health Information System of Republic of Srpska.</a>
    You may find more professional info about me on this website.
    <br/> 
    Thank You for visit.
</div>
