@page
@model LinksModel
@{
    ViewData["Title"] = "Links page";
}

    <div class="text-center">
        <h1 class="display-4">Links</h1>
        <h2>Last 2+ years</h2>
        <img src="~/links/oracle-db580x224_tcm67-40873.jpg" />
        <img src="~/links/oracleapex50.png" />
        <img src="~/links/jaspersoft-tibco-logo-social.jpg" />
        <img src="~/links/java.png" />
        <img src="~/links/javafx.jpg" />
        <img src="~/links/javaspring.png" />
        <img src="~/links/javaswing.jpg" />       

        <h2>Learning meanwhile</h2>
        <br />
        <a href="https://nodejs.org" target="_blank">  <img src="~/links/nodejs.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://aws.amazon.com/" target="_blank"><img src="~/links/amazon_web.jpg" style="max-width: 300px; max-height: 150px;min-width: 150px " /></a>
        <a href="https://angular.io/" target="_blank"><img src="~/links/technology-angular.png" style="max-width: 300px; max-height: 150px;min-width: 150px" title="Angular" /></a>
        <br />
        <h2>Pretty experienced ;)</h2> <br />
        <a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank"><img src="~/links/technology-ms-aspnet_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://dotnet.microsoft.com/apps/aspnet/mvc" target="_blank"><img src="~/links/asp_net_mvc_webapi.jpg" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://docs.microsoft.com/en-us/ef/" target="_blank"><img src="~/links/entity_framework.jpg" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.tutorialspoint.com/ajax/what_is_ajax.htm" target="_blank"><img src="~/links/ajax-logo.jpg" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.1" target="_blank"><img src="~/links/technology-aspnetcore.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://getbootstrap.com/" target="_blank"><img src="~/links/technology-bootstrap_logo.jpeg" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.w3.org/Style/CSS/" target="_blank"><img src="~/links/technology-css3_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.devexpress.com/" target="_blank"><img src="~/links/technology-devexpress.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.w3.org/TR/html52/" target="_blank"><img src="~/links/technology-html5_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.qt.io/" target="_blank"><img src="~/links/qtcpp.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.iis.net/" target="_blank"><img src="~/links/technology-iis7_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://jquery.com/" target="_blank"><img src="~/links/technology-jquery_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.json.org/json-en.html" target="_blank"><img src="~/links/technology-json_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.w3schools.com/js/js_versions.asp" target="_blank"><img src="~/links/technology-js_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/" target="_blank"><img src="~/links/technology-linq_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.microsoft.com/en-us/sql-server/" target="_blank"><img src="~/links/technology-ms-sql_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.mysql.com/" target="_blank"><img src="~/links/technology-mysql_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank"><img src="~/links/technology-visual-csharp_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.w3.org/XML/" target="_blank"><img src="~/links/technology-xml_logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://www.crystalreports.com/" target="_blank"><img src="~/links/crystal_reports.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://docs.microsoft.com/en-us/dotnet/visual-basic/" target="_blank"><img src="~/links/vbnet.jpg" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://developers.google.com/maps/documentation" target="_blank"><img src="~/links/googlemaps.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://itextpdf.com/en" target="_blank"><img src="~/links/itext_Logo.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://oauth.io" target="_blank"><img src="~/links/oauth.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="https://webpack.js.org/" target="_blank"><img src="~/links/webpack.png" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>
        <a href="http://www.jqplot.com/" target="_blank"><img src="~/links/jqplot-logo.jpg" style="max-width: 300px; max-height: 150px;min-width: 150px" /></a>


        <br />
        <h2>Oldie but goldie</h2> <br />
        <img src="~/links/interdev6.jpg" style="max-width: 300px; max-height: 150px;min-width: 150px" />
        <img src="~/links/vb6.jpg" style="max-width: 300px; max-height: 150px;min-width: 150px" />
        <img src="~/links/frontpage.jpg" style="max-width: 300px; max-height: 150px;min-width: 150px" />

    </div>
