@page
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio page";
}



<div class="text-center">
    <h2 class="display-3"><b>Portfolio</b></h2><br />
</div>
<br />
<div class="card">
    <div class="card-header">
        <h2><a href="https://izis.org" target="_blank">IZIS project of Integrated Health Information System of Republic of Srpska.</a></h2>
    </div>
    <div class="card-body">
        Web application to add & search trademarks in database
        <div class="card-text">
            <div style="text-align: center "><i>TAGS: Web application, Full stack development, Database administratioin,Oracle DB,PL/SQL,Oracle APEX,JavaScript, jQuery, HTML5, CSS </i></div>
            <div style="text-align: center "><a href="https://izis.org" target="_blank">IZIS project of Integrated Health Information System of Republic of Srpska.</a></div>
        </div>
    </div>ka

</div>
<br />

<div class="card">
    <div class="card-header">
        <h2><a href="http://tm-register.com/" target="_blank">TM-Register.com (retired)</a></h2>
    </div>
    <div class="card-body">
        Web application to add & search trademarks in database
        <div class="card-text">
            <div style="text-align: center "><i>TAGS: Web application, Full stack development, C#, Visual Studio 2019, MSSQL 2017, ASP.NET CORE MVC, JavaScript, jQuery, HTML5, CSS </i></div>
            <div style="text-align: center "><a href="http://tm-register.com/" target="_blank">TM-Register.com</a></div>
        </div>
    </div>

</div>
<br />

<div class="card">
    <div class="card-header">
        <h2><a href="https://rhmzrs.com/" target="_blank">RHMZRS.com</a></h2>
    </div>
    <div class="card-body">
        Website of hydrometeorological service of Republic of Srpska
        <div class="card-text">
            <div style="text-align: center "><i>TAGS: Webapp backend, Web API,C#, Visual Studio 2019, MSSQL 2017,MySQL 8.0, ASP.NET , Google Maps API </i></div>
            <div style="text-align: center "><a href="https://rhmzrs.com/" target="_blank">RHMZRS.com</a></div>
        </div>
    </div>

</div>
<br />

<div class="card">
    <div class="card-header">
        <h2>Advokatura-Advocature</h2>
    </div>
    <div class="card-body">
        Simple Advocature office application - Document Management System - very specific for Bosnia and Herzegovina law system and advocate offices.
        <div class="card-text">
            <div style="text-align: center "><i>TAGS: Windows desktop, VB.NET, MSSQL</i></div>
            <div style="text-align: center "><a href="~/portfolio/Advokatura.pdf" target="_blank">More details...</a></div>

        </div>
    </div>
</div>

<br />
<div class="card">
    <div class="card-header">
        <h2>King Knjigovodstvo</h2>
    </div>
    <div class="card-body">
        Simple bookkeeping application
        <div class="card-text">
            <div style="text-align: center "><i>TAGS: Windows desktop, Visual Basic 6.0, MSSQL 2005, Visual Studio 6.0</i></div>
            <div style="text-align: center "><a href="~/portfolio/knjigovodstvoPortfolio.pdf" target="_blank">More details...</a></div>

        </div>
    </div>

</div>
<br />
<div class="card">
    <div class="card-header">
        <h2>Employee tracking management system</h2>
    </div>
    <div class="card-body">
        Employee tracking management system
        <div class="card-text">
            <div style="text-align: center "><i>TAGS: Windows desktop,VB.NET, Visual Studio 2010, MSSQL 2005</i></div>
            <div style="text-align: center "><a href="~/portfolio/Employee tracking management system.pdf" target="_blank">More details...</a></div>
        </div>

    </div>
</div>

<br />
<div class="card">
    <div class="card-header">
        <h2>Data Mapping</h2>
    </div>
    <div class="card-body">
        Main meteorological parameters shown on map as help to forecasters
        <div class="card-text">
            <div style="text-align: center "><i>TAGS: Windows desktop,VB.NET, Visual Studio 2010, MSSQL 2005</i></div>
            <div style="text-align: center ">
                <a href="~/portfolio/DataMapping.pdf" target="_blank">More details...</a>
            </div>
        </div>
    </div>

    <br />

</div>
 And much more...Keep eyes on update...



