@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects page";
}

    <div class="text-center">
        <h1 class="display-4">Projects</h1> <br />
        <a href="https://izis.org" target="_blank">IZIS project of Integrated Health Information System of Republic of Srpska.</a>
        <a href="https://rhmzrs.com/" target="_blank">RHMZRS.com</a><br />
        <a href="http://www.wmo.int/pages/prog/hwrp/mch/" target="_blank">MCH</a><br />
        <a href="https://www.wmo.int/pages/prog/www/WIS/overview.html" target="_blank">WIS</a><br />
        <a href="https://www.wmo.int/pages/prog/www/wigos/index_en.html" target="_blank">WIGOS</a><br />
        <a href="https://www.wmo-sat.info/oscar/" target="_blank">OSCAR</a> <br />
        <a href="http://seecop.meteo.co.me/" target="_blank">SEECOP</a><br />
        <a href="http://www.interreg-danube.eu/approved-projects/dridanube" target="_blank">DriDanube</a><br />
        <a href="https://carpo.farm" target="_blank">CARPO.farm</a><br />
        <a href="https://www.kisters.net/NA/products/wiski/" target="_blank">Wiski</a><br />
        <a href="http://old.meteo.md/newen/dawbee.htm" target="_blank">Dawbee</a> <br />
    </div>
